[submodule "SimpleOT"]
	path = SimpleOT
	url = git@github.com:mkskeller/SimpleOT.git
[submodule "mpir"]
	path = mpir
	url = git://github.com/wbhart/mpir.git
[submodule "Programs/Circuits"]
	path = Programs/Circuits
	url = git@github.com:mkskeller/bristol-fashion.git
